:root {

  --logo-blue: hsl(210, 100%, 49%);
  --logo-blue-dark: hsl(210, 100%, 33%);
  --value-scale: 12%;
  --value0: hsl(0, 0%, calc(0 * var(--value-scale)));
  --value1: hsl(0, 0%, calc(1 * var(--value-scale)));
  --value2: hsl(0, 0%, calc(2 * var(--value-scale)));
  --value3: hsl(0, 0%, calc(3 * var(--value-scale)));
  --value4: hsl(0, 0%, calc(4 * var(--value-scale)));
  --value5: hsl(0, 0%, calc(5 * var(--value-scale)));
  --value6: hsl(0, 0%, calc(6 * var(--value-scale)));
  --value7: hsl(0, 0%, calc(7 * var(--value-scale)));
  --value8: hsl(0, 0%, calc(8 * var(--value-scale)));
  --value9: hsl(0, 0%, calc(9 * var(--value-scale)));
  --soft-border: 0 0 10px 0 var(--value6);
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: var(--value3);
}

.debug {
  border: 1px solid red;
}

body * {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #000;
}

hero-section {
  height: 100vh;
  justify-content: space-between;
}

navigation {
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 50px;
  height: 50px;
}

navigation nav-items {
  flex-direction: row;
}

navigation nav-items a {
  padding: 1rem;
  text-transform: uppercase;
}




.cta-button {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  background-color: var(--logo-blue);
  border: none;
  align-self: start;
}

.cta-button:hover {
  background-color: var(--logo-blue-dark);
}

hero {
  flex-direction: row;
  justify-content: center;
}

hero-text {
  height: 100%;
  max-width: 30%;
  justify-content: space-around;
}

hero title {
  font-size: 3rem;
}

hero subtitle {
  font-size: 1.2rem;
}

hero img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

hero-footer {
  flex-direction: row;
  justify-content: space-between;
}

hero-footer links {
  flex-direction: row;
}

hero-footer links a {
  padding: 1rem;
  text-transform: uppercase;
}

about-content, services {
  margin-top: 10rem;
}

about {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10vw;
}

about img {
  max-height: 250px;
  width: auto;
}

about text {
  max-width: 30rem;

}

about text p {
    line-height: 1.5;
    margin-top: 1rem;
}

body h2 {
  color: var(--logo-blue);
  font-weight: 100;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
}


blog h2, services h2, opensource h2 {
  align-self: center;
}

text .cta-button {
  margin-top: 2rem;
}

services about {
  margin-bottom: 10rem;
}

blog {
  padding: 0 15vw;
  margin-bottom: 10rem;
}


blog post-container {
  flex-direction: row;

  height: 20rem;
}

blog post-container post {
  justify-content: space-between;
 width: 100%;
 padding: 2rem;


}

blog h1 {
  font-size: 1.7rem;
  font-weight: 100;
}
.dark {
  background-color: var(--value3);
  color: var(--value9);
}

opensource elements {
  flex-direction: row;
  justify-content: center;
}

opensource element {
  max-width: 10rem;
  padding: 2rem;
  background-color: var(--value9);
  justify-content: space-between;
  margin: 0 1rem;
  box-shadow: var(--soft-border);
}

opensource h3 {
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

cta, footer-container {
  flex-direction: row;
  justify-content: space-between;
}

cta {
  padding: 10rem 20vw;
}

cta text h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: none;
}

footer-container {
  padding: 1rem 20vw;
  background-color: var(--value8);

}

footer-container copy, social {
  flex-direction: row;

}

footer-container text {
  margin-left: 1rem;
}

footer-container span {
  font-size: 0.8rem;
}

footer-container social a {
  padding: 1rem;
}
